.userAccountPage {
	grid-column: content-start / content-end;
	grid-row: main-start / main-end;

	display: flex;
	padding: 5rem 0;
}

.userAccountPage--left {
	width: 60%;
	flex-grow: 3;
	padding: 0 10rem;
	border-right: 3px solid var(--color-grey--light);

	display: flex;
	flex-direction: column;
	gap: 7rem;

	.user__stats {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.userInfo {
		width: 100%;
	}
}

.userAccountPage--right {
	width: 40%;
	flex-grow: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.user__selectAvatar {
	width: 25rem;
	height: 25rem;
	margin-bottom: 2.4rem;
}

.userInfo {
	width: 70%;
	margin-bottom: 5.6rem;
	display: flex;
	flex-direction: column;
	gap: 3rem;

	&__title {
		font-size: 3.2rem;
		font-weight: 600;
		line-height: 0;
		text-align: left;
		margin-bottom: 1rem;
	}

	&__currentValue {
		position: relative;
		text-align: center;
		width: 100%;
		font-size: 2.4rem;
		font-weight: 600;
		color: var(--color-black);
		text-align: center;

		&--left {
			text-align: left;
		}
	}

	&__selectBtn {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
	}
}
