.marketList {
	&__listRow {
		position: relative;
		display: grid;
		grid-template-columns: 7rem 20rem repeat(8, 1fr) 20rem;
		align-items: center;
		justify-items: center;
		background-color: var(--color-white);
		height: 5rem;
		border-radius: var(--radius--md);
		cursor: default;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}

		&.loading {
			background-color: var(--color-primary--25);
			color: var(--color-primary);
		}

		&.reload {
			background-color: var(--color-grey--lightest);
			color: var(--color-primary);
			cursor: pointer;
			&:hover {
				background-color: var(--color-primary--10);
			}
		}

		&.waiting {
			background-color: var(--color-primary--10);
			color: var(--color-primary);
		}
	}

	.rowItem {
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: 1.2px;
	}
}
