.marketList {
	&__listRow {
		position: relative;
		display: grid;
		grid-template-columns: 7rem 20rem repeat(8, 1fr) 20rem;
		align-items: center;
		justify-items: center;
		background-color: var(--color-white);
		height: 5rem;
		border-radius: var(--radius--md);
		cursor: default;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}

		&.loading,
		&.waiting {
			background-color: var(--color-primary--10);
			color: var(--color-primary);
		}

		&.idle {
			background-color: var(--color-grey--lightest);
			color: var(--color-primary);
			cursor: pointer;
			&:hover {
				background-color: var(--color-primary--10);
			}
		}

		&.waiting {
			cursor: pointer;
			&:hover {
				background-color: var(--color-warning--10);
			}
		}
		&.failed {
			cursor: pointer;
			background-color: var(--color-warning--25);
			&:hover {
				background-color: var(--color-warning--10);
			}
		}
	}

	.rowItem {
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: 1.2px;
	}
}

@keyframes waitDotBounce {
	from {
		transform: translateY(3px);
	}
	to {
		transform: translateY(-5px);
	}
}

.waitDots {
	display: flex;
	gap: 5px;
}

.waitDot {
	width: 5px;
	height: 5px;
	border-radius: var(--radius--round);
	background-color: var(--color-primary);
	transform: translateY(3px);

	&--1 {
		animation: waitDotBounce 0.6s 0s infinite alternate;
	}
	&--2 {
		animation: waitDotBounce 0.6s 0.15s infinite alternate;
	}
	&--3 {
		animation: waitDotBounce 0.6s 0.3s infinite alternate;
	}
}
