.section__layer1s {
	margin-bottom: 5rem;
}

.section__layer1sGrid {
	min-height: calc(100vh - 10rem);
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	column-gap: 0.5rem;
	row-gap: 0.5rem;
}

.section__header--layer1sGrid {
	text-align: start;
	margin-left: 0 !important;
	margin-top: 5rem;
}
