.dropdownList {
	position: absolute;
	top: calc(50% + 3rem);
	left: 50%;
	transform: translate(-50%, 2rem);
	border: 3px solid var(--color-black);
	border-radius: var(--radius--md);
	padding: 1.6rem 0;
	background-color: white;
	list-style: none;

	&--user li:hover,
	&--user li:focus {
		background-color: blue;
		color: white;
	}

	&--user li:active {
		background-color: rgba(0, 0, 255, 0.75);
	}

	&--theme li:hover,
	&--theme li:focus {
		background-color: rgb(255, 204, 0);
	}

	&--theme li:active {
		background-color: rgba(255, 204, 0, 0.75);
	}

	&--market li:hover,
	&--market li:focus {
		background-color: rgb(241, 0, 133);
	}

	&--market li:active {
		background-color: rgba(241, 0, 133, 0.75);
	}

	&--l1s li:hover,
	&--l1s li:focus {
		background-color: rgb(141, 0, 241);
		color: white;
	}

	&--l1s li:active {
		background-color: rgba(141, 0, 241, 0.75);
	}
}
