@import '../../assets/styles/abstracts/mixins';

.heroPresentation {
	padding: 9rem 10rem;
	padding-top: 5rem;
	height: 100%;

	display: grid;
	grid-template-columns: 1fr 1.25fr;
	row-gap: 5rem;
	column-gap: 7rem;

	@include respond(tab-land) {
		padding: 5rem 4.5rem;
		padding-top: 5rem;
	}
	@include respond(tab-port) {
		grid-template-columns: 1fr;
		padding: 5rem 5rem;
		padding-top: 5rem;
	}
	@include respond(phone) {
		grid-template-columns: 1fr;
		padding: 5rem 3rem;
		padding-top: 5rem;
	}

	&__article {
		grid-column: 1 / span 1;
		grid-row: 1 / span 2;
		text-align: start;

		@include respond(tab-land) {
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
		}
		@include respond(tab-port) {
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
		}
		@include respond(phone) {
			grid-column: 1 / span 1;
			grid-row: 1 / span 1;
		}
	}

	&__headerBox {
		margin-bottom: 1.2rem;

		width: 100%;
		display: flex;
		gap: 1rem;
		align-items: center;
	}

	&__header {
		font-size: 3.2rem;
		font-weight: 600;

		@include respond(phone) {
			font-size: 4rem;
		}
	}

	&__text {
		font-size: 1.6rem;
		line-height: 3.2rem;

		@include respond(phone) {
			font-size: 2rem;
		}
	}

	.btn {
		margin-top: 4rem;
		@include respond(phone) {
			font-size: 2rem;
		}
	}

	&__giantTicker {
		grid-column: 1 / span 1;
		grid-row: 3 / span 1;
		justify-self: flex-start;
		align-self: flex-end;

		// margin-left: -5rem;
		text-transform: uppercase;
		font-size: 20rem;
		font-weight: 500;
		letter-spacing: -20px;
		line-height: 0.75;

		@include respond(tab-port) {
			grid-column: 1 / span 1;
			grid-row: 4 / span 1;
		}
		@include respond(phone) {
			grid-column: 1 / span 1;
			grid-row: 4 / span 1;
			font-size: 16rem;
		}
	}

	&__statGrid {
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;

		display: grid;
		grid-template-columns: repeat(4, 13rem);
		grid-template-rows: repeat(2, 13rem);
		gap: 2rem;

		@include respond(tab-land) {
			grid-template-columns: repeat(3, 13rem);
			grid-template-rows: repeat(3, 13rem);
		}
		@include respond(tab-port) {
			width: 100%;
			grid-column: 1 / span 1;
			grid-row: 2 / span 1;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: repeat(3, 13rem);
		}
		@include respond(phone) {
			grid-column: 1 / span 1;
			grid-row: 2 / span 1;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(4, 13rem);
			justify-self: center;
		}
		@include respond(big-desktop) {
			grid-template-columns: repeat(5, 13rem);
			grid-template-rows: repeat(2, 13rem);
		}
	}

	&__chart {
		grid-column: 2 / span 1;
		grid-row: 2 / span 2;
		align-self: flex-end;

		@include respond(tab-land) {
			height: 40rem;
			width: 80%;
			justify-self: center;
			grid-column: 1 / span 2;
			grid-row: 2 / span 1;
		}
		@include respond(tab-port) {
			height: 40rem;
			width: 100%;
			grid-column: 1 / span 1;
			grid-row: 3 / span 1;
		}
		@include respond(phone) {
			grid-column: 1 / span 1;
			grid-row: 3 / span 1;
			height: 25rem;
		}

		height: 40rem;
		width: 100%;
		border-radius: var(--radius--md);
		border: 2px solid;
		display: flex;
		align-items: center;
		justify-content: center;

		&--white {
			border-color: var(--color-white);
		}

		&--black {
			border-color: var(--color-black);
		}

		&--btc {
			border-color: var(--color-white);
		}

		div {
			height: 90%;
			width: 90%;
		}
	}
}
