@import '../../assets/styles/abstracts/mixins';

@keyframes lift {
	to {
		transform: translate(0, 0);
		box-shadow: 3rem 3rem 0 0 var(--color-primary--light);
	}
}

.layer1SummaryCard {
	display: flex;
	width: 100rem;
	height: 45rem;
	background-color: white;
	border-radius: var(--radius--xl);
	overflow: hidden;
	transform: translate(3rem, 3rem);
	animation: lift 0.4s forwards;

	@include respond(tab-land) {
		width: 90rem;
	}
	@include respond(tab-port) {
		display: grid;
		grid-template-columns: 1.5fr 1fr;
		grid-template-rows: 1fr 10rem;
		width: 85%;
		max-height: 50rem;
		height: 85%;
		transform: none;
		animation: none;
	}
	@include respond(phone) {
		display: flex;
		flex-direction: column;
		width: 70%;
		height: 75%;
		max-height: 70rem;
		border-radius: var(--radius--lg);
	}
}

.layer1__box {
	width: 33.333333%;
	@include respond(tab-port) {
		width: 50%;
	}
	@include respond(phone) {
		width: 100%;
	}
}

.layer1__logo {
	position: relative;
	background-color: var(--color-primary);

	display: flex;
	align-items: center;
	justify-content: center;
	@include respond(tab-port) {
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
		width: 100%;
	}
	@include respond(phone) {
		height: 40%;
	}
}

.layer1__logo__img {
	width: 85%;
	height: auto;
	@include respond(tab-port) {
		width: 50%;
	}
	@include respond(phone) {
		width: 40%;
	}
}

.layer1__logo__btnContainer {
	position: absolute;
	left: 50%;
	bottom: 4rem;
	width: 100%;
	transform: translateX(-50%);
	@include respond(tab-port) {
		bottom: 2rem;
	}
	@include respond(phone) {
		bottom: 2rem;
	}
}

.icon--white {
	path {
		fill: white;
	}
}

.layer1__info {
	display: flex;
	flex-direction: column;
	padding: 5rem;
	text-align: left;
	@include respond(tab-port) {
		grid-column: 1 / span 1;
		grid-row: 1 / span 2;
		padding: 3rem 3rem;
		width: 100%;
	}
	@include respond(phone) {
		height: 60%;
		padding: 3rem 2rem;
	}
}

.layer1__info__header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 2rem;

	h4 {
		color: var(--color-primary);
		font-size: 3.2rem;
		font-weight: 700;
	}
}

.tags {
	position: absolute;
	top: -3rem;
	right: -3rem;
	display: flex;
	gap: 1rem;
	align-self: flex-start;
	@include respond(tab-port) {
		flex-direction: column;
		top: -1rem;
		right: 0;
	}
}

.tag {
	background-color: white;
	color: var(--color-primary-dark);
	padding: 0.4rem 0.8rem;
	font-size: 1rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	box-shadow: 0 0 0 1px var(--color-primary--dark);
	border-radius: var(--radius--round);
	cursor: default;

	transition: all 0.2s;
}

.tag:hover {
	background-color: var(--color-primary--dark);
	color: white;
}

.layer1__info--description {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 2.8rem;
	color: var(--color-black);
	overflow-y: scroll;
}

.layer1__info__links {
	margin-top: auto;
}

.layer1__info__website {
	font-size: 1.4rem;
	color: var(--color-primary);
	text-decoration: none;
	position: relative;
}

.layer1__info__website .hoverLine--hori {
	background-color: var(--color-primary);
}

.layer1__info__socials {
	display: flex;
	gap: 3rem;
	margin-top: 2rem;

	@include respond(phone) {
		display: none;
	}
}

.layer1__stats {
	display: flex;
	flex-direction: column;
	background-color: var(--color-black--10);
	@include respond(tab-port) {
		grid-column: 2 / span 1;
		grid-row: 2 / span 1;
		width: 100%;
	}
	@include respond(phone) {
		display: none;
	}
}

.layer1__stats__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	align-items: center;
	justify-items: center;
	padding: 4rem;
	width: 100%;

	flex-grow: 1;
	@include respond(tab-port) {
		display: none;
	}
}

.layer1__statBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	color: var(--color-black);
}

.layer1__stat {
	background-color: var(--color-white);
	border-radius: var(--radius--round);
	border: 1px solid var(--color-black);
	cursor: default;
	width: 7rem;
	height: 7rem;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;

	transition: all 0.2s;
}

.layer1__stat:hover {
	color: var(--color-white);
	background-color: var(--color-black);
}

.layer1__stat__unit {
	font-size: 1.2rem;
	font-weight: 400;
}

.layer1__stat__title {
	font-size: 1rem;
	letter-spacing: 2px;
	font-weight: 600;
	text-transform: uppercase;
}

.layer1__stats__footer {
	width: 100%;
	height: 10rem;
	background: repeating-linear-gradient(
		45deg,
		white,
		white 0.4rem,
		var(--color-primary--25) 0.4rem,
		var(--color-primary--25) 0.8rem
	);

	display: flex;
	flex-direction: column;
}

.layer1__stats__footer__title {
	display: block;
	background-color: var(--color-primary--darker);
	color: white;
	font-size: 1rem;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 6px;

	text-align: center;
	padding: 1rem 0;

	@include respond(tab-port) {
		letter-spacing: 2px;
	}
}
$fill: 10%;

.layer1__stat__filler {
	background-color: var(--color-tertiary--dark);
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 0;
	animation: fill 1s 0s forwards;
}

@mixin fill-animation-mixin($name, $percent) {
	@keyframes #{$name} {
		to {
			width: $percent;
		}
	}
}
@include fill-animation-mixin(fill--10, 10%);
@include fill-animation-mixin(fill--20, 20%);
@include fill-animation-mixin(fill--30, 30%);
@include fill-animation-mixin(fill--40, 40%);
@include fill-animation-mixin(fill--50, 50%);
@include fill-animation-mixin(fill--60, 60%);
@include fill-animation-mixin(fill--70, 70%);
@include fill-animation-mixin(fill--80, 80%);
@include fill-animation-mixin(fill--90, 90%);
@include fill-animation-mixin(fill--100, 100%);

.score--1 {
	animation: fill--10 1s 0s forwards;
}
.score--2 {
	animation: fill--20 1s 0s forwards;
}
.score--3 {
	animation: fill--30 1s 0s forwards;
}
.score--4 {
	animation: fill--40 1s 0s forwards;
}
.score--5 {
	animation: fill--50 1s 0s forwards;
}
.score--6 {
	animation: fill--60 1s 0s forwards;
}
.score--7 {
	animation: fill--70 1s 0s forwards;
}
.score--8 {
	animation: fill--80 1s 0s forwards;
}
.score--9 {
	animation: fill--90 1s 0s forwards;
}
.score--10 {
	animation: fill--100 1s 0s forwards;
}

.layer1__stat__filler__score {
	color: white;
}

.layer1__stat__number {
	font-size: 1.6rem;
	font-weight: 600;
}
