.linkButton {
	border: none;
	font-size: 1.4rem;
	font-weight: 600;
	letter-spacing: 0.08rem;
	color: var(--color-white);
	background-color: var(--color-black);
	padding: 1rem 2rem;
	border-radius: var(--radius--sm);
	box-shadow: inset 0 0 0 0.3rem var(--color-black);
	cursor: pointer;
	text-decoration: none;

	&:hover {
		background-color: transparent;
		color: var(--color-black);
	}

	&:active {
		background-color: var(--color-black--10);
	}

	&--primary-invert {
		color: var(--color-primary--light);
		box-shadow: inset 0 0 0 0.3rem var(--color-primary--light);
		background-color: transparent;

		&:hover,
		&:focus {
			color: var(--color-white);
			box-shadow: inset 0 0 0 0.3rem var(--color-white);
		}

		&:active,
		&:visited {
			background-color: var(--color-white--25);
		}
	}
}
