.btn__selectEdit {
	background-color: var(--color-grey--lightest);
	padding: 1rem;
	border: 3px solid transparent;
	border-radius: var(--radius--round);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;

	&:hover {
		border-color: var(--color-black);
	}

	&:active {
		background-color: var(--color-white);
	}

	&--icon {
		width: 2rem;
		height: 2rem;
	}
}
