:root {
	--color-atom--primary: rgb(117, 105, 159);
	--color-atom--primary--95: rgba(117, 105, 159, 0.95);
	--color-atom--secondary: rgb(172, 72, 197);
	--color-atom--tertiary: rgb(219, 158, 72);
	--color-atom--random: 'rgba(70, 0, 255, 1)';

	.atom-hover {
		&:hover {
			background: linear-gradient(
				to right bottom,
				var(--color-atom--primary) 70%,
				var(--color-atom--secondary) 80%,
				var(--color-atom--tertiary) 95%
			);
			color: white;
		}
	}

	.statBox.atom {
		color: var(--color-black);
		border: none;
		background-color: var(--color-white--25);
		.statTitle {
			background-color: var(--color-black);
			color: var(--color-white);
		}

		&:hover {
			border-color: var(--color-black);
			background-color: var(--color-white--50);
			.statTitle {
				background-color: var(--color-black);
				color: var(--color-white);
			}
		}
	}

	.heroPresentation.atom {
		background: linear-gradient(
			160deg,
			var(--color-atom--primary) 60%,
			var(--color-atom--secondary) 80%,
			var(--color-atom--tertiary)
		);
		color: var(--color-white);

		.btn {
			&:hover {
				background-color: var(--color-black--10);
			}
		}

		path {
			fill: var(--color-black);
		}
	}

	.heroPresentation__chart.atom {
		border: none;
		background-color: var(--color-white--10);
		&:hover {
			background-color: var(--color-white--25);
		}
	}

	.header.atom,
	.baseBackground.atom {
		background-color: var(--color-atom--primary);

		.logoFull--text {
			color: white;
		}
	}

	.heroPresentation__giantTicker.atom {
		// font-size: 18rem;
	}

	.atom.loader {
		border-top-color: var(--color-white);
		border-right-color: var(--color-white);
	}

	.atom {
		.linkText,
		.marketDropdown__btn {
			color: var(--color-white);
			&:hover::after {
				background-color: var(--color-black);
			}
		}

		.marketDropdown__btn--icon {
			path {
				fill: var(--color-white);
			}
		}
	}

	.selectTickerBtn.load-success.atom {
		background-color: var(--color-atom--primary);
	}
}
