:root {
	--color-eth--primary: #1c1cff;
	--color-eth--secondary: #84f7ff;
	--color-eth--tertiary: #84f7ff;

	--color-eth--primary--dark: #1414c2;

	.eth-hover {
		&:hover {
			background-color: var(--color-eth--primary);
			color: white;
		}
	}

	.statBox.eth {
		color: var(--color-white);
		border: 1px solid var(--color-white);
		.statTitle {
			background-color: var(--color-white);
			color: var(--color-black);
		}
		&:hover {
			border-color: var(--color-eth--secondary);
			.statTitle {
				background-color: var(--color-eth--secondary);
			}
		}
	}

	.heroPresentation.eth {
		background: linear-gradient(
			160deg,
			var(--color-eth--primary) 0%,
			var(--color-eth--primary) 40%,
			var(--color-eth--primary--dark)
		);
		color: var(--color-white);

		.btn {
			color: var(--color-white);
			border-color: var(--color-white);
			&:hover {
				color: var(--color-eth--secondary);
				border-color: var(--color-eth--secondary);
			}
		}
	}

	.heroPresentation__chart.eth {
		border: 1px solid var(--color-white--50);
		&:hover {
			border-color: var(--color-white);
		}
	}

	.header.eth,
	.baseBackground.eth {
		background-color: var(--color-eth--primary);
		.logoFull--text {
			color: white;
		}
	}

	.heroPresentation__giantTicker.eth {
		// font-size: 18rem;
	}

	.eth.loader {
		border-top-color: var(--color-eth--secondary);
		border-right-color: var(--color-eth--secondary);
	}

	.eth {
		.linkText,
		.marketDropdown__btn {
			color: var(--color-white);
			&:hover::after {
				background-color: var(--color-eth--secondary);
			}
		}
		.marketDropdown__btn--icon {
			path {
				fill: var(--color-white);
			}
		}
	}
}
