.pageHeader {
	position: relative;
	background-color: #f2f2f2;
	text-align: center;
	width: 100%;
	&--text {
		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: 0.4rem;
		text-transform: uppercase;
		color: var(--color-primary);
		padding: 1.6rem;
	}
}
