@import '../../assets/styles/abstracts/mixins';

.historyPage {
	grid-column: content-start / content-end;
	grid-row: main-start / main-end;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.selectorGridContainer {
	width: 100%;
	height: 100%;
	padding: 10rem;

	@include respond(tab-land) {
		padding: 7rem;
	}
	@include respond(tab-port) {
		padding: 2rem;
	}
	@include respond(big-desktop) {
		width: 75%;
	}
}
