@import '../../assets/styles/abstracts/mixins';

.signInPage {
	grid-column: content-start / content-end;
	grid-row: main-start / main-end;
	min-height: calc(100vh - 10rem);

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15rem;

	@include respond(tab-land) {
		gap: 10rem;
	}
	@include respond(tab-port) {
		flex-direction: column;
		gap: 5rem;
		justify-content: flex-start;
	}
}

.signInLeft {
	display: flex;
	flex-direction: column;
	align-items: center;

	p {
		font-size: 1.6rem;
		font-weight: 400;

		a {
			font-size: 1.8rem;
			letter-spacing: 0.2rem;
			margin-left: 1rem;

			&:hover {
				color: var(--color-ada-primary);
			}
		}
	}
}

.signInHeader {
	font-size: 8rem;
	font-weight: 600;
	line-height: 1;
	margin-bottom: 5rem;

	@include respond(tab-port) {
		margin-top: 12rem;
		margin-bottom: 3rem;
		font-size: 6rem;
	}
}

.colorSpectrum {
	width: 35rem;
	height: 3rem;
	display: flex;
	flex-wrap: nowrap;
	border-radius: var(--radius--round);
	overflow: hidden;
	margin-bottom: 3rem;

	@include respond(phone) {
		width: 75%;
	}
}

.colorSpectrum--color {
	flex-grow: 1;
	height: 100%;
}

.purple {
	background-color: #7000ff;
}

.blue {
	background-color: #0075ff;
}

.green {
	background-color: #00d4ad;
}

.yellow {
	background-color: #ffd600;
}

.orange {
	background-color: #ff5c00;
}

.red {
	background-color: #ff006b;
}
