@import '../../../assets/styles/abstracts/mixins';

.pairCard {
	width: calc(100vw - 20rem);
	min-height: 30rem;
	padding: 4rem 6rem;
	border-radius: var(--radius--lg);
	border: 2px solid var(--color-grey--light);
	margin: 5rem 0;
	position: relative;
	overflow: hidden;

	display: grid;
	grid-template-columns: [numerator-start] 1fr [numerator-end chart-start] 70% [chart-end denominator-start] 1fr [denominator-end];
	grid-template-rows: [settings-start] min-content [settings-end content-start] min-content [content-end];

	@include respond(tab-land) {
		width: calc(100vw - 10rem);
		padding: 4rem 4rem;
	}
	@include respond(tab-port) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: [selectors-start] min-content [selectors-end chart-start] 40rem [chart-end footer-start] min-content [footer-end];
		column-gap: 10rem;
		width: calc(100vw - 10rem);
		// padding: 2rem 3rem;
		width: 100vw;
		border-left: none;
		border-right: none;
		border-radius: 0;
		padding: 2rem 2rem;
		padding-top: 4rem;
	}
	@include respond(phone) {
	}

	&__btnClose {
		width: 3rem;
		height: 3rem;
		background-color: var(--color-grey--lightest);
		border: 2px solid transparent;
		font-size: 1rem;
		border-radius: var(--radius--round);
		padding: 1rem;
		cursor: pointer;

		position: absolute;
		top: 1rem;
		right: 1rem;

		&:hover {
			border-color: var(--color-delete);
			background-color: var(--color-delete--25);

			&::after,
			&::before {
				background-color: var(--color-delete);
			}
		}

		&::after,
		&::before {
			content: '';
			width: 1.8rem;
			height: 2px;
			top: 50%;
			right: 50%;
			position: absolute;
			background-color: var(--color-grey--light);
		}

		&::after {
			transform: translate(50%, -50%) rotate(45deg);
		}

		&::before {
			transform: translate(50%, -50%) rotate(-45deg);
		}
	}

	&__settings {
		grid-column: numerator-start / chart-end;
		grid-row: settings-start / settings-end;

		display: flex;
		justify-content: space-between;
		margin-bottom: 4rem;

		@include respond(tab-port) {
			display: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: var(--color-white--90);
			flex-direction: column;
			gap: 5rem;
			align-items: center;
			justify-content: center;
			z-index: 6;

			&.open {
				display: flex;
			}
		}
	}

	&__numerator {
		grid-column: numerator-start / numerator-end;
		grid-row: content-start / content-end;
		justify-self: flex-start;

		@include respond(tab-port) {
			grid-column: 1 / span 1;
			grid-row: selectors-start / selectors-end;
			justify-self: flex-end;
			margin-bottom: 5rem;
		}
	}

	&__denominator {
		grid-column: denominator-start / denominator-end;
		grid-row: content-start / content-end;
		justify-self: flex-end;

		@include respond(tab-port) {
			grid-column: 2 / span 1;
			grid-row: selectors-start / selectors-end;
			justify-self: flex-start;
			margin-bottom: 5rem;
		}
	}

	&__chartArea {
		grid-column: chart-start / chart-end;
		grid-row: content-start / content-end;
		justify-self: center;
		width: 100%;
		position: relative;

		@include respond(tab-port) {
			grid-column: 1 / span 2;
			grid-row: chart-start / chart-end;
		}
	}

	&__numerator,
	&__denominator,
	&__chartArea {
		align-self: center;
	}

	&__message {
		width: 100%;
		font-size: 1.4rem;
		letter-spacing: 2px;
		color: var(--color-grey--light);
	}
}

.pairCard__btnSettings {
	display: none;
	// border: 2px solid var(--color-primary);
	border: none;
	width: 6rem;
	height: 6rem;
	padding: 1.4rem;
	border-radius: var(--radius--round);
	background-color: var(--color-primary--10);
	justify-self: flex-end;
	align-self: flex-end;
	grid-row: footer-start / footer-end;
	grid-column: 2 / span 1;
	z-index: 7;
	cursor: pointer;
	justify-content: center;
	align-items: center;

	&.coll {
		display: none;
	}

	&.open {
		background-color: var(--color-primary);
	}

	&.disabled {
		pointer-events: none;
		background-color: var(--color-grey--lightest);
		svg {
			opacity: 0.25;
			path {
				stroke: black;
			}
		}
	}

	@include respond(tab-port) {
		display: flex;
	}
}
