.pairCard {
	width: 90%;
	min-height: 30rem;
	padding: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: var(--radius--lg);
	border: 2px solid var(--color-grey--light);
	margin: 5rem 0;
	position: relative;

	&__btnClose {
		width: 3rem;
		height: 3rem;
		background-color: var(--color-grey--lightest);
		border: 2px solid transparent;
		font-size: 1rem;
		border-radius: var(--radius--round);
		padding: 1rem;
		cursor: pointer;

		position: absolute;
		top: 1rem;
		right: 1rem;

		&:hover {
			border-color: var(--color-warning);
			background-color: var(--color-warning--25);

			&::after,
			&::before {
				background-color: var(--color-warning);
			}
		}

		&::after,
		&::before {
			content: '';
			width: 1.8rem;
			height: 2px;
			top: 50%;
			right: 50%;
			position: absolute;
			background-color: var(--color-grey--light);
		}

		&::after {
			transform: translate(50%, -50%) rotate(45deg);
		}

		&::before {
			transform: translate(50%, -50%) rotate(-45deg);
		}
	}

	&__message {
		width: 100%;
		font-size: 1.4rem;
		letter-spacing: 2px;
		color: var(--color-grey--light);

		// font-size: 1.4rem;
	}

	&__numerators {
		background-color: #ccc;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		justify-items: center;
		flex-basis: 20%;
	}

	&__quotient {
		background-color: blue;
		margin: 0 auto;
		height: 50rem;
		width: 100%;
		margin: 0 3rem;
	}

	&__denominators {
		background-color: #ccc;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1rem;
		justify-items: center;
		flex-basis: 20%;
	}
}
