.section__carousel {
	display: flex;
	flex-direction: column;

	width: 100%;
	padding: 15rem 0;
}

.section__header {
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	align-self: flex-start;
	margin-left: 10rem;
	margin-bottom: 5rem;
}
