@import '../../assets/styles/abstracts/mixins';

.linkSocial {
	display: flex;
	align-items: center;
	gap: 1.6rem;

	text-decoration: none;
	font-size: 1.4rem;
	letter-spacing: 2px;
	font-weight: 500;
	color: var(--color-black);
	cursor: pointer;
	width: min-content;
	white-space: nowrap;

	&:active {
		opacity: 0.5;
	}

	&__icon {
		width: 2.5rem;
		height: 2.5rem;
	}

	&--twitter:hover,
	&--twitter:focus {
		svg path {
			fill: var(--color-twitter) !important;
		}
		color: var(--color-twitter);
	}

	&--facebook:hover,
	&--facebook:focus {
		svg path {
			fill: var(--color-facebook);
		}

		color: var(--color-facebook);
	}

	&--github:hover,
	&--github:focus {
		svg path {
			fill: var(--color-github);
		}

		color: var(--color-github);
	}

	&--youtube:hover,
	&--youtube:focus {
		svg path {
			fill: var(--color-youtube);
		}

		color: var(--color-youtube);
	}

	span {
		@include respond(phone) {
			display: none;
		}
	}
}
