.section__marketList {
	margin: 5rem 10rem;
}

.marketList {
	width: 100%;
	height: 100%;

	&__headers {
		width: 100%;
		height: min-content;
		margin-bottom: 3rem;

		display: grid;
		grid-template-columns: 7rem 2fr repeat(7, 6rem) 3fr 1fr;
		grid-template-rows: min-content 6rem;
		align-items: center;
		justify-items: center;
	}

	&__colHeader {
		font-size: 1rem;
		font-weight: 600;
		letter-spacing: 1.2px;
		cursor: pointer;
		padding: 0.4rem 1rem;
		border-radius: var(--radius--xs);

		grid-row: 2 / span 1;

		&--range {
			grid-row: 1 / span 1;
		}

		&:hover {
			box-shadow: inset 0 0 0 2px var(--color-primary);
		}

		.active,
		&:active {
			background-color: var(--color-primary);
			color: var(--color-white);
		}
	}

	&__btnGroup {
		grid-row: 1 / span 1;
		grid-column: 3 / span 7;
		justify-self: stretch;
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		gap: 1rem;
	}

	&__btn--target {
		border: 2px solid var(--color-primary);
		background-color: white;
		color: var(--color-primary);
		font-size: 0.9rem;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 2px;
		width: 25%;
		padding: 0.4rem 0;
		border-radius: var(--radius--xs);
		cursor: pointer;

		.active,
		&:hover {
			background-color: var(--color-primary);
			color: var(--color-white);
		}

		&:active {
			background-color: var(--color-primary--light);
			border-color: var(--color-primary--light);
		}
	}

	&__input {
		font-size: 1rem;
		font-weight: 500;
		padding: 0.2rem 1rem;
		border-radius: var(--radius--xs);
		border: 2px solid var(--color-primary);
		outline: none;
		width: 40%;
		overflow: visible;
		position: relative;
		&:focus-visible {
			box-shadow: inset 0 0 0 1px var(--color-primary);
		}

		&::before {
			color: var(--color-black);
			position: absolute;
			left: 0;
			top: 50%;
			transform: translate(-4.5rem, -50%);
		}

		&--from {
			grid-row: 1 / span 1;

			&::before {
				content: 'FROM: ';
			}
		}

		&--to {
			grid-row: 2 / span 1;
			&::before {
				content: 'TO: ';
			}
		}
	}

	&__list {
		width: 100%;
		display: flex;
		flex-direction: column;
		list-style: none;
	}

	&__listRow {
		display: grid;
		grid-template-columns: 7rem 2fr repeat(7, 6rem) 3fr 1fr;
		align-items: center;
		justify-items: center;

		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}

	.rowItem {
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: 1.2px;
	}

	.procentDot {
		width: 5rem;
		height: 5rem;
		border-radius: var(--radius--round);
		display: flex;
		align-items: center;
		justify-content: center;
		&--neg {
			background-color: var(--color-negative);
			color: var(--color-white);
		}
		&--neu {
			background-color: var(--color-primary--lightest);
			color: var(--color-primary);
		}
		&--pos {
			background-color: var(--color-positive);
			color: var(--color-black);
		}
	}

	.col--ticker {
		grid-column: 1 / span 1;
	}
	.col--price {
		grid-column: 2 / span 1;
	}
	.col--24h {
		grid-column: 3 / span 1;
	}
	.col--1w {
		grid-column: 4 / span 1;
	}
	.col--1m {
		grid-column: 5 / span 1;
	}
	.col--3m {
		grid-column: 6 / span 1;
	}
	.col--6m {
		grid-column: 7 / span 1;
	}
	.col--1y {
		grid-column: 8 / span 1;
	}
	.col--3y {
		grid-column: 9 / span 1;
	}
	.col--range {
		grid-column: 10 / span 1;
	}
	.col--mCap {
		grid-column: 11 / span 1;
	}
}
