.section__marketList {
	margin: 5rem 10rem;
}

.marketList {
	width: 100%;
	height: 100%;

	&__header {
		width: 100%;
		height: min-content;
		margin-bottom: 3rem;

		display: grid;
		grid-template-columns: 7rem 20rem repeat(8, 1fr) 20rem;
		grid-template-rows: min-content min-content repeat(auto, 6rem);
		align-items: center;
		justify-items: center;
	}

	&__targetGroup {
		grid-row: 1 / span 1;
		justify-self: stretch;
		display: flex;
		align-items: center;
		margin-bottom: 3rem;

		&--btns {
			grid-column: 1 / 9;
			gap: 2rem;

			button {
				flex-grow: 1;
			}
		}

		&--range {
			grid-column: 10 / 12;
			justify-content: flex-end;

			span {
				font-size: 2rem;
				font-weight: 600;
				letter-spacing: 1.2px;
				text-transform: uppercase;
				margin: 0 1rem;
			}
		}
	}

	&__list {
		width: 100%;
		display: flex;
		flex-direction: column;
		list-style: none;
	}

	.col--ticker {
		grid-column: 1 / span 1;
	}
	.col--price {
		grid-column: 2 / span 1;
	}
	.col--24h {
		grid-column: 3 / span 1;
	}
	.col--1w {
		grid-column: 4 / span 1;
	}
	.col--1m {
		grid-column: 5 / span 1;
	}
	.col--3m {
		grid-column: 6 / span 1;
	}
	.col--6m {
		grid-column: 7 / span 1;
	}
	.col--1y {
		grid-column: 8 / span 1;
	}
	.col--3y {
		grid-column: 9 / span 1;
	}
	.col--range {
		grid-column: 10 / span 1;
	}
	.col--mCap {
		grid-column: 11 / span 1;
	}
}
