@import '../../assets/styles/abstracts/mixins';

.carousel__container {
	display: flex;
	align-items: center;
	width: 100vw;
	height: 25rem;
	overflow-x: scroll;

	.cards {
		height: 100%;
		width: calc((100vw / 7) * 21);
		display: flex;
		align-items: center;

		@include respond(tab-land) {
			width: calc((100vw / 6) * 21);
		}
		@include respond(tab-port) {
			width: calc((100vw / 5) * 21);
		}
		@include respond(phone) {
			width: calc((100vw / 2) * 21);
		}
		@include respond(big-desktop) {
			width: calc((100vw / 10) * 21);
		}
	}

	.l1CardContainer {
		width: calc(100vw / 7);
		@include respond(tab-land) {
			width: calc(100vw / 6);
		}
		@include respond(tab-port) {
			width: calc(100vw / 5);
		}
		@include respond(phone) {
			width: calc(100vw / 3);
		}
		@include respond(big-desktop) {
			width: calc(100vw / 10);
		}
	}
}
