@import './assets/styles/abstracts/mixins';
.App {
	text-align: center;
	display: grid;
	grid-template-rows: [header-start] 10rem [header-end main-start] minmax(calc(100vh - 10rem), auto) [main-end footer-start] min-content [footer-end];
	grid-template-columns: [content-start] 100vw [content-end];
	position: relative;
	width: 100vw;
	min-height: 100vh;

	@include respond(phone) {
		grid-template-rows: [header-start] 10rem [header-end main-start] minmax(calc(100vh - 10rem), auto) [main-end footer-start] min-content [footer-end];
	}
}
