@import 'assets/styles/abstracts/mixins';

:root {
	--color-secondary: rgb(0, 162, 143);
	--color-secondary--10: rgba(0, 162, 143, 0.1);
	--color-secondary--25: rgba(0, 162, 143, 0.25);
	--color-secondary--50: rgba(0, 162, 143, 0.5);
	--color-secondary--75: rgba(0, 162, 143, 0.75);
	--color-secondary--dark: rgb(0, 115, 100);

	--color-tertiary: orange;
	--color-tertiary--10: rgba(255, 165, 0, 0.1);
	--color-tertiary--25: rgba(255, 165, 0, 0.25);
	--color-tertiary--50: rgba(255, 165, 0, 0.5);
	--color-tertiary--75: rgba(255, 165, 0, 0.75);
	--color-tertiary--85: rgba(255, 165, 0, 0.85);
	--color-tertiary--dark: rgb(190, 123, 0);

	--color-delete: rgb(255, 0, 100);
	--color-delete--50: rgba(255, 0, 100, 0.5);
	--color-delete--25: rgba(255, 0, 100, 0.25);
	--color-delete--10: rgba(255, 0, 100, 0.1);

	--color-warning: rgb(233, 202, 0);
	--color-warning--50: rgba(233, 202, 0, 0.5);
	--color-warning--25: rgba(233, 202, 0, 0.25);
	--color-warning--10: rgba(233, 202, 0, 0.1);

	--color-positive: rgb(0, 231, 161);
	--color-positive--light: rgb(193, 255, 238);
	--color-positive--50: rgb(0, 231, 161, 0.5);
	--color-positive--25: rgb(0, 231, 161, 0.25);
	--color-positive--10: rgb(0, 231, 161, 0.1);
	--color-negative: rgb(255, 0, 122);
	--color-negative--10: rgba(255, 0, 122, 0.1);

	--color-text: #3c4b62;

	/* --f-family--text: 'Inter', 'Inter UI', Helvetica, Arial, sans-serif; */
	/* --f-family--headers: 'Poppins', sans-serif; */
	/* --f-family--ellones: 'Europa-Bold'; */

	--f-family: 'Poppins', sans-serif;

	--color-primary: blue;
	--color-primary--10: rgba(0, 0, 255, 0.1);
	--color-primary--25: rgba(0, 0, 255, 0.25);
	--color-primary--50: rgba(0, 0, 255, 0.5);
	--color-primary--75: rgba(0, 0, 255, 0.75);
	--color-primary--85: rgba(0, 0, 255, 0.85);
	--color-primary--90: rgba(0, 0, 255, 0.75);
	--color-primary--light: rgb(125, 125, 255);
	--color-primary--lighter: rgb(200, 200, 255);
	--color-primary--lightest: rgb(245, 245, 255);
	--color-primary--dark: rgb(0, 0, 200);
	--color-primary--darker: rgb(0, 0, 140);
	--color-primary--darkest: rgb(0, 0, 80);

	--color-black: black;
	--color-black--75: rgba(0, 0, 0, 0.75);
	--color-black--50: rgba(0, 0, 0, 0.5);
	--color-black--25: rgba(0, 0, 0, 0.25);
	--color-black--10: rgba(0, 0, 0, 0.1);
	--color-grey: rgb(123, 123, 123);
	--color-grey--dark: rgb(45, 45, 45);
	--color-grey--light: rgb(202, 202, 202);
	--color-grey--lighter: rgb(225, 225, 225);
	--color-grey--lightest: rgb(248, 248, 248);
	--color-white: white;
	--color-white--10: rgba(255, 255, 255, 0.1);
	--color-white--25: rgba(255, 255, 255, 0.25);
	--color-white--50: rgba(255, 255, 255, 0.5);
	--color-white--75: rgba(255, 255, 255, 0.75);
	--color-white--85: rgba(255, 255, 255, 0.85);
	--color-white--90: rgba(255, 255, 255, 0.9);
	--color-white--95: rgba(255, 255, 255, 0.95);

	--color-twitter: rgb(29, 161, 242);
	--color-twitter--50: rgba(29, 161, 242, 0.5);
	--color-facebook: rgb(24, 119, 242);
	--color-facebook--50: rgba(24, 119, 242, 0.5);
	--color-youtube: rgb(205, 32, 31);
	--color-youtube--50: rgba(205, 32, 31, 0.5);
	--color-github: rgb(23, 21, 21);
	--color-github--50: rgba(23, 21, 21, 0.5);

	--radius--round: 100rem;
	--radius--xxs: 0.3rem;
	--radius--xs: 0.6rem;
	--radius--sm: 0.8rem;
	--radius--md: 1.2rem;
	--radius--lg: 2.4rem;
	--radius--xl: 3.2rem;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

	@include respond(tab-land) {
		font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
	}
	@include respond(tab-port) {
		font-size: 50%; // 1rem = 8px, 8/16 = 50%
	}
	@include respond(phone) {
		font-size: 43.75%; // 1rem = 7px, 7/16 = 43.75%
	}
	@include respond(big-desktop) {
		font-size: 75%; // 1rem = 12px, 12/16 = 75%
	}
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	/* 1 rem = 10px */
	font-family: inherit;
	box-sizing: border-box;
}

body {
	box-sizing: border-box;
	font-family: var(--f-family);
	// font-weight: 400;
	// line-height: 1.7;
	// color: var(--color-black);
	// padding: 3rem;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
	color: var(--color-black);
	font-size: 1.6rem;
	font-weight: 600;
	text-decoration: none;

	&:hover {
		color: inherit;
	}
}

.section__header {
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	align-self: flex-start;
	margin-left: 10rem;
	margin-bottom: 5rem;

	@include respond(tab-land) {
		margin-left: 5rem;
	}
	@include respond(tab-port) {
		margin-left: 5rem;
	}
	@include respond(phone) {
		margin-left: 3rem;
	}
	@include respond(big-desktop) {
	}
}

.icon--xxs {
	width: 1.8rem;
	height: auto;
}

.icon--xs {
	width: 3rem;
	height: auto;
}

.icon--sm {
	width: 8rem;
	height: auto;

	@include respond(phone) {
		width: 5rem;
	}
}

.icon--white {
	path,
	circle {
		fill: white;
	}
}

.icon--whiteStroke {
	path,
	rect {
		stroke: white;
	}
}

.icon--primary {
	path,
	circle {
		fill: var(--color-primary);
	}
}

.icon--primaryStroke {
	path,
	rect {
		stroke: var(--color-primary);
	}
}

.icon--warning {
	path,
	circle {
		fill: var(--color-delete);
	}
}

.icon--warningStroke {
	path,
	rect {
		stroke: var(--color-delete);
	}
}

.btn {
	padding: 1rem 2rem;
	font-size: 1.6rem;
	font-weight: 500;
	border: 2px solid;
	color: var(--color-white);
	background-color: var(--color-black);
	border-radius: var(--radius--sm);
	cursor: pointer;

	&--invert {
		background-color: transparent;
		&--white {
			color: var(--color-white);
			border-color: var(--color-white);
		}
		&--black {
			color: var(--color-black);
			border-color: var(--color-black);
		}
		&--primary {
			color: var(--color-primary);
			border-color: var(--color-primary);
		}
	}

	&--full {
		&--white {
			background-color: var(--color-white);
			color: var(--color-black);
		}
		&--black {
			background-color: var(--color-black);
			color: var(--color-white);
		}
		&--primary {
			background-color: var(--color-primary);
			color: var(--color-white);
		}
	}
}

.op--0 {
	opacity: 0;
}

/* Remove outline for non-keyboard :focus */
*:focus:not(.focus-visible) {
	outline: none;
}

/* Optional: Customize .focus-visible */
.focus-visible {
	outline: 3px solid var(--color-primary);
}

$pageheader-height: 4.6rem;
