:root {
	--color-secondary: rgb(0, 200, 175);
	--color-secondary--10: rgba(0, 200, 175, 0.1);
	--color-secondary--25: rgba(0, 200, 175, 0.25);
	--color-secondary--50: rgba(0, 200, 175, 0.5);
	--color-secondary--dark: rgb(0, 115, 100);

	--color-tertiary: orange;
	--color-tertiary--10: rgba(255, 165, 0, 0.1);
	--color-tertiary--25: rgba(255, 165, 0, 0.25);
	--color-tertiary--50: rgba(255, 165, 0, 0.5);
	--color-tertiary--75: rgba(255, 165, 0, 0.75);
	--color-tertiary--dark: rgb(215, 140, 0);

	--color-delete: rgb(255, 0, 100);

	--color-positive: rgb(0, 231, 161);
	--color-negative: rgb(255, 0, 122);

	--color-text: #3c4b62;

	/* --f-family--text: 'Inter', 'Inter UI', Helvetica, Arial, sans-serif; */
	/* --f-family--headers: 'Poppins', sans-serif; */
	/* --f-family--ellones: 'Europa-Bold'; */

	--f-family: 'Poppins', sans-serif;

	--color-primary: blue;
	--color-primary--10: rgba(0, 0, 255, 0.1);
	--color-primary--25: rgba(0, 0, 255, 0.25);
	--color-primary--50: rgba(0, 0, 255, 0.5);
	--color-primary--75: rgba(0, 0, 255, 0.75);
	--color-primary--light: rgb(125, 125, 255);
	--color-primary--lighter: rgb(200, 200, 255);
	--color-primary--lightest: rgb(245, 245, 255);
	--color-primary--dark: rgb(0, 0, 200);
	--color-primary--darker: rgb(0, 0, 140);
	--color-primary--darkest: rgb(0, 0, 80);

	--color-black: black;
	--color-black--10: rgba(0, 0, 0, 0.1);
	--color-grey: rgb(67, 67, 67);
	--color-grey--light: rgb(202, 202, 202);
	--color-grey--lightest: rgb(248, 248, 248);
	--color-white: white;
	--color-white--25: rgba(255, 255, 255, 0.25);
	--color-secondary: orange;

	--color-twitter: rgb(29, 161, 242);
	--color-twitter--50: rgba(29, 161, 242, 0.5);
	--color-facebook: rgb(24, 119, 242);
	--color-facebook--50: rgba(24, 119, 242, 0.5);
	--color-youtube: rgb(205, 32, 31);
	--color-youtube--50: rgba(205, 32, 31, 0.5);
	--color-github: rgb(23, 21, 21);
	--color-github--50: rgba(23, 21, 21, 0.5);

	--radius--round: 100rem;
	--radius--xxs: 0.3rem;
	--radius--xs: 0.6rem;
	--radius--sm: 0.8rem;
	--radius--md: 1.2rem;
	--radius--lg: 2.4rem;
	--radius--xl: 3.2rem;
}

html {
	scroll-behavior: smooth;
}

* {
	margin: 0;
	padding: 0;
	/* 1 rem = 10px */
	font-size: 62.5%;
	font-family: inherit;
	box-sizing: border-box;
}

body {
	font-family: var(--f-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.section__header {
	font-size: 1.2rem;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	align-self: flex-start;
	margin-left: 10rem;
	margin-bottom: 5rem;
}

.icon--xs {
	width: 3rem;
	height: auto;
}

.icon--sm {
	width: 8rem;
	height: auto;
}

.icon--white {
	path {
		fill: white;
	}
}

.btn {
	padding: 1rem 2rem;
	font-size: 1.6rem;
	font-weight: 500;
	border: 2px solid;
	color: var(--color-white);
	background-color: var(--color-black);
	border-radius: var(--radius--sm);
	cursor: pointer;

	&--invert {
		background-color: transparent;
		&--white {
			color: var(--color-white);
			border-color: var(--color-white);
		}
		&--black {
			color: var(--color-black);
			border-color: var(--color-black);
		}
		&--primary {
			color: var(--color-primary);
			border-color: var(--color-primary);
		}
	}

	&--full {
		&--white {
			background-color: var(--color-white);
			color: var(--color-black);
		}
		&--black {
			background-color: var(--color-black);
			color: var(--color-white);
		}
		&--primary {
			background-color: var(--color-primary);
			color: var(--color-white);
		}
	}
}

.op--0 {
	opacity: 0;
}
