:root {
	--f-family: 'Poppins', sans-serif;

	--color-black: black;
	--color-grey: rgb(67, 67, 67);
	--color-grey--light: rgb(202, 202, 202);
	--color-grey--lightest: rgb(248, 248, 248);
	--color-white: white;
	--color-primary: blue;
	--color-primary--light: rgb(107, 107, 255);
	--color-primary--dark: rgb(0, 0, 200);
	--color-secondary: orange;

	--color-twitter: rgb(29, 161, 242);
	--color-twitter--50: rgba(29, 161, 242, 0.5);
	--color-facebook: rgb(24, 119, 242);
	--color-facebook--50: rgba(24, 119, 242, 0.5);
	--color-youtube: rgb(205, 32, 31);
	--color-youtube--50: rgba(205, 32, 31, 0.5);
	--color-github: rgb(23, 21, 21);
	--color-github--50: rgba(23, 21, 21, 0.5);

	--radius--round: 100rem;
	--radius--xsm: 0.3rem;
	--radius--sm: 0.6rem;
	--radius--md: 1.2rem;
	--radius--lg: 2.4rem;
}

* {
	margin: 0;
	padding: 0;
	/* 1 rem = 10px */
	font-size: 62.5%;
	font-family: inherit;
	box-sizing: border-box;
}

body {
	font-family: var(--f-family);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
