@import '../../assets/styles/abstracts/mixins';

@keyframes lift {
	to {
		transform: translate(0, 0);
		box-shadow: 3rem 3rem 0 0 var(--color-primary--light);
	}
}

.formContainer__editUserInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: var(--color-white);
	border-radius: var(--radius--lg);
	min-width: 50rem;
	padding: 5rem;
	transform: translate(3rem, 3rem);

	animation: lift 0.4s forwards;

	@include respond(tab-port) {
		padding: 3rem;
		transform: translate(0, 0);
		animation: none;
	}
	@include respond(phone) {
		align-items: center;
		width: 100vw;
		padding: 5rem 0;
		border-radius: 0;
	}
}

.form__editUserInfo {
	text-align: left;
	width: 100%;
	display: flex;
	flex-direction: column;

	@include respond(phone) {
		align-items: center;
	}

	&--title {
		font-size: 3.2rem;
		font-weight: 600;
		line-height: 1;
		margin-bottom: 1rem;
	}

	&--instruction {
		font-size: 1.2rem;
		font-weight: 400;
		color: var(--color-grey);
		margin-bottom: 3rem;
		line-height: 1.8;
		text-align: left;
		@include respond(phone) {
			inline-size: 55%;
		}
	}

	&--input {
		position: relative;
		width: 100%;
		height: 5rem;
		font-size: 1.8rem;
		font-weight: 600;
		border-radius: var(--radius--round);
		border: 3px solid var(--color-black);
		background-color: var(--color-white);
		color: var(--color-black);
		padding-left: 2rem;
		margin-bottom: 4rem;

		&::placeholder {
			color: var(--color-primary);
		}

		@include respond(phone) {
			width: 60rem;
		}
		@include respond(phone) {
			width: 30rem;
		}
	}

	&--submit {
		border: none;
		background-color: var(--color-black);
		color: var(--color-white);
		font-size: 1.6rem;
		font-weight: 600;
		letter-spacing: 0.08rem;
		padding: 1rem 2rem;
		border-radius: var(--radius--round);
		box-shadow: inset 0 0 0 0.3rem var(--color-black);
		cursor: pointer;

		&:hover {
			background-color: transparent;
			color: var(--color-black);
		}

		&:active {
			background-color: var(--color-black--10);
		}
	}

	&--full {
		width: min-content;
		@include respond(phone) {
			.submitButton {
				// margin: 0 auto;
			}
		}
	}

	&--avatars {
		display: flex;
		justify-content: center;
		gap: 4rem;
		margin-top: 1rem;
		margin-bottom: 4rem;
		@include respond(tab-port) {
			gap: 3rem;
		}
		@include respond(phone) {
			gap: 2rem;
		}
	}

	&--tickers {
		display: grid;
		grid-template-columns: repeat(7, min-content);
		grid-template-rows: repeat(auto, min-content);
		gap: 2rem;
		// margin: 0 auto;
		margin-bottom: 4rem;
		width: min-content;

		@include respond(phone) {
			grid-template-columns: repeat(5, min-content);
			grid-template-rows: repeat(auto, min-content);
			gap: 1rem;
		}
		@include respond(slim) {
			gap: 0;
		}
	}
}

.invalidInput {
	background-color: var(--color-delete--50);
	&::placeholder {
		color: var(--color-black);
	}
}

.option__color {
	width: 5rem;
	height: 5rem;
	border-radius: var(--radius--round);
	cursor: pointer;

	@include respond(phone) {
	}
	@include respond(phone) {
		width: 4rem;
		height: 4rem;
	}

	&:hover {
		box-shadow: 0 0 0 5px var(--color-black--25);
	}

	&--active {
		box-shadow: 0 0 0 7px var(--color-primary--25);
		&:hover {
			box-shadow: 0 0 0 7px var(--color-primary--25);
		}
	}
}

.option__ticker {
	width: min-content;
	height: min-content;
	border-radius: var(--radius--md);
	border: 1px solid transparent;
	cursor: pointer;
	&:hover {
		border-color: var(--color-black);
	}

	&--active {
		background-color: var(--color-primary);
	}

	svg {
		width: 5rem;
		height: auto;
	}
}
